<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<% if band? %>
					<%= render 'band_welcome' %>
				<% elsif standard_user? %>
					<%= render 'user_welcome' %>
				<% end %>
			</section>
		</aside>
	</div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to Big American Corporate Music Store</h1>
		<h2>Formerly local music store, located just off the high street by the clarkies...</h2>
		<%= link_to "Sign up today!", signup_path, :class => "btn btn-large btn-primary" %>
	</div>
<% end %>
