<li>
	<span class="content"><%= track.name %></span>
	<% if current_account?(track.band) || admin? %>
		<%= link_to "delete", track, method: :delete,
										data: { confirm: "You sure?"} %>
	<% end %>
</li>