<% provide(:title, "Purchases") %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				Purchases
			</h1>
		</section>	
	</aside>
	<div class="span8">
		<h3>Tracks</h3>
		<ol class="microposts">
			<%= render @tracks %>
		</ol>
		<%= will_paginate @tracks %>
	</div>
</div>