<% if band? %>
	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Band <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "Band information", band_path(current_account.band) %></li>
			<li><%= link_to "Upload new songs", band_path(current_account.band) %></li>
		</ul>
	</li>
<% end %>