<footer class="footer">
	<small>
		<%= link_to "by Steven Butter",	'http://www.facebook.com/stevenbutter' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 	about_path %></li>
			<li><%= link_to "Contact", 	contact_path %></li>
		</ul>
	</nav>
	<br />
	<%= link_to image_tag("rails.png", :alt => "Rails"), 
									'http://rubyonrails.org/' %>
</footer>