<% if standard_user? %>
	<li><%= link_to "Bands", bands_path %></li>
	<li id="fat-menu" class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Basket <b class="caret"></b>
		</a>
		<ul class="dropdown-menu">
			<li><%= link_to "Cart", :action => 'show', :controller => 'carts' %></li>
			<li><%= link_to "Purchases", purchases_path %></li>>
		</ul>
	</li>
<% end %>